# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment files
.env

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/*

# Data
data/raw/
data/processed/

# Models
models/artifacts/
models/exported/

# MLflow
mlruns/

# macOS
.DS_Store

# Logs
*.log